aiohttp==3.7.4.post0
allennlp==2.7.0
allennlp-models==2.7.0
anyio==3.3.2
appnope==0.1.2
argcomplete==1.12.3
argon2-cffi==21.1.0
async-timeout==3.0.1
attrs==21.2.0
aws-cdk.assets==1.129.0
aws-cdk.aws-apigateway==1.129.0
aws-cdk.aws-applicationautoscaling==1.129.0
aws-cdk.aws-autoscaling==1.129.0
aws-cdk.aws-autoscaling-common==1.129.0
aws-cdk.aws-autoscaling-hooktargets==1.129.0
aws-cdk.aws-batch==1.129.0
aws-cdk.aws-certificatemanager==1.129.0
aws-cdk.aws-cloudformation==1.129.0
aws-cdk.aws-cloudfront==1.129.0
aws-cdk.aws-cloudwatch==1.129.0
aws-cdk.aws-codebuild==1.129.0
aws-cdk.aws-codecommit==1.129.0
aws-cdk.aws-codeguruprofiler==1.129.0
aws-cdk.aws-codestarnotifications==1.129.0
aws-cdk.aws-cognito==1.129.0
aws-cdk.aws-dynamodb==1.129.0
aws-cdk.aws-ec2==1.129.0
aws-cdk.aws-ecr==1.129.0
aws-cdk.aws-ecr-assets==1.129.0
aws-cdk.aws-ecs==1.129.0
aws-cdk.aws-efs==1.129.0
aws-cdk.aws-elasticloadbalancing==1.129.0
aws-cdk.aws-elasticloadbalancingv2==1.129.0
aws-cdk.aws-events==1.129.0
aws-cdk.aws-fsx==1.129.0
aws-cdk.aws-globalaccelerator==1.129.0
aws-cdk.aws-iam==1.129.0
aws-cdk.aws-imagebuilder==1.129.0
aws-cdk.aws-kinesis==1.129.0
aws-cdk.aws-kms==1.129.0
aws-cdk.aws-lambda==1.129.0
aws-cdk.aws-logs==1.129.0
aws-cdk.aws-route53==1.129.0
aws-cdk.aws-route53-targets==1.129.0
aws-cdk.aws-s3==1.129.0
aws-cdk.aws-s3-assets==1.129.0
aws-cdk.aws-sam==1.129.0
aws-cdk.aws-secretsmanager==1.129.0
aws-cdk.aws-servicediscovery==1.129.0
aws-cdk.aws-signer==1.129.0
aws-cdk.aws-sns==1.129.0
aws-cdk.aws-sns-subscriptions==1.129.0
aws-cdk.aws-sqs==1.129.0
aws-cdk.aws-ssm==1.129.0
aws-cdk.cloud-assembly-schema==1.129.0
aws-cdk.core==1.129.0
aws-cdk.custom-resources==1.129.0
aws-cdk.cx-api==1.129.0
aws-cdk.region-info==1.129.0
aws-parallelcluster==3.0.0
Babel==2.9.1
backcall==0.2.0
backports.csv==1.0.7
base58==2.1.0
beautifulsoup4==4.10.0
bleach==4.1.0
blis==0.7.4
boto3==1.18.52
botocore==1.21.52
cached-property==1.5.2
cachetools==4.2.4
catalogue==2.0.6
cattrs==1.8.0
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.6
checklist==0.0.11
cheroot==8.5.2
CherryPy==18.6.1
click==7.1.2
clickclick==20.10.2
configparser==5.0.2
conllu==4.4.1
connexion==2.7.0
constructs==3.3.161
cryptography==35.0.0
cycler==0.10.0
cymem==2.0.5
datasets==1.12.1
debugpy==1.4.3
decorator==5.1.0
defusedxml==0.7.1
dill==0.3.4
docker-pycreds==0.4.0
en-core-sci-scibert @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.4.0/en_core_sci_scibert-0.4.0.tar.gz
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
en-ner-bionlp13cg-md @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.4.0/en_ner_bionlp13cg_md-0.4.0.tar.gz
entrypoints==0.3
fairscale==0.4.0
feedparser==6.0.8
filelock==3.0.12
Flask==2.0.2
freeport==0.1.15
fsspec==2021.9.0
ftfy==6.0.3
future==0.18.2
gitdb==4.0.7
GitPython==3.1.24
google-api-core==2.0.1
google-auth==2.2.1
google-cloud-core==2.0.0
google-cloud-storage==1.42.2
google-crc32c==1.2.0
google-resumable-media==2.0.3
googleapis-common-protos==1.53.0
greenlet==1.1.2
h5py==3.4.0
huggingface-hub==0.0.17
idna==3.2
importlib-metadata==4.8.1
inflection==0.5.1
iniconfig==1.1.1
ipykernel==6.4.1
ipython==7.28.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
iso-639==0.4.5
isodate==0.6.0
itsdangerous==2.0.1
jaraco.classes==3.2.1
jaraco.collections==3.4.0
jaraco.functools==3.3.0
jaraco.text==3.5.1
jedi==0.18.0
jellyfish==0.8.8
Jinja2==3.0.1
jmespath==0.10.0
joblib==1.0.1
jsii==1.40.0
json5==0.9.6
jsonnet==0.17.0
jsonschema==4.0.1
jupyter==1.0.0
jupyter-client==7.0.5
jupyter-console==6.4.0
jupyter-core==4.8.1
jupyter-server==1.11.0
jupyterlab==3.1.14
jupyterlab-pygments==0.1.2
jupyterlab-server==2.8.2
jupyterlab-widgets==1.0.2
kiwisolver==1.3.2
lmdb==1.2.1
lxml==4.6.3
MarkupSafe==2.0.1
marshmallow==3.14.0
matplotlib==3.4.3
matplotlib-inline==0.1.3
mistune==0.8.4
more-itertools==8.10.0
multidict==5.1.0
multiprocess==0.70.12.2
munch==2.5.0
murmurhash==1.0.5
mysql-connector-python==8.0.26
nbclassic==0.3.2
nbclient==0.5.4
nbconvert==6.2.0
nbformat==5.1.3
nest-asyncio==1.5.1
nltk==3.6.3
nmslib==2.1.1
notebook==6.4.4
numpy==1.21.2
openapi-schema-validator==0.1.5
openapi-spec-validator==0.3.1
overrides==3.1.0
packaging==21.0
pandas==1.3.3
pandasql==0.7.3
pandocfilters==1.5.0
parso==0.8.2
pathtools==0.1.2
pathy==0.6.0
patternfork-nosql==3.6
pdfminer.six==20201018
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.2
pluggy==1.0.0
portend==2.7.1
preshed==3.0.5
prometheus-client==0.11.0
promise==2.3
prompt-toolkit==3.0.20
protobuf==3.18.0
psutil==5.8.0
ptyprocess==0.7.0
publication==0.0.3
py==1.10.0
py-rouge==1.1
pyarrow==5.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.6.1
pycairo==1.20.1
pycountry==20.7.3
pycparser==2.20
pydantic==1.8.2
Pygments==2.10.0
PyMySQL==1.0.2
pyparsing==2.4.7
pyrsistent==0.18.0
pysbd==0.3.4
pytest==6.2.5
python-dateutil==2.8.2
python-docx==0.8.11
python-igraph==0.9.6
pytz==2021.1
PyYAML==5.4.1
pyzmq==22.3.0
qtconsole==5.1.1
QtPy==1.11.2
recordlinkage==0.14
regex==2021.9.24
requests==2.26.0
requests-unixsocket==0.2.0
rsa==4.7.2
s3transfer==0.5.0
sacremoses==0.0.46
scikit-learn==1.0
scipy==1.7.1
scispacy==0.4.0
Send2Trash==1.8.0
sentencepiece==0.1.96
sentry-sdk==1.4.3
sgmllib3k==1.0.0
shortuuid==1.0.1
six==1.16.0
sklearn==0.0
smart-open==5.2.1
smmap==4.0.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.2.1
spacy==3.0.7
spacy-alignments==0.8.3
spacy-legacy==3.0.8
spacy-transformers==1.0.4
SQLAlchemy==1.4.25
sqlitedict==1.7.0
srsly==2.4.1
stanford-openie==1.2.0
stanfordnlp==0.2.0
stanza==1.2.3
subprocess32==3.5.4
tabulate==0.8.9
tempora==4.1.1
tensorboardX==2.4
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
texttable==1.6.4
thinc==8.0.10
threadpoolctl==2.2.0
tokenizers==0.10.3
toml==0.10.2
torch==1.9.1
torchvision==0.10.1
tornado==6.1
tqdm==4.62.3
traitlets==5.1.0
transformers==4.5.1
typer==0.3.2
typing-extensions==3.10.0.2
Unidecode==1.3.2
urllib3==1.26.7
wandb==0.12.3
wasabi==0.8.2
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.1
Werkzeug==2.0.2
wget==3.2
widgetsnbextension==3.5.1
word2number==1.1
xmltodict==0.12.0
xxhash==2.0.2
yarl==1.6.3
yaspin==2.1.0
zc.lockfile==2.0
zipp==3.6.0


